/* Shlomo Bensimhon 1837702 */

/**
 * Fetches a quote from https://ron-swanson-quotes.herokuapp.com/v2/quotes
 * and displays the quote on the web page.
 *
 * @author: shlomy_b
 */

#fullPage{
    position: relative;
    text-align: center;
    color: rgb(238, 255, 0);
}

#textArea{
    position: absolute;
    top: 10px;
    right: 170px;
    font-size: 35px;
    font-family: fantasy;
}

#fetchButton{
    position: absolute;
    top: 500px;
    right: 280px;
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	cursor:pointer;
	color:#ffffff;
	font-size:25px;
	font-weight:bold;
	padding:11px 76px;
}

#ErrorLine{
    position: absolute;
    top: -15px;
    right: 50px;
    color:red;
    font-style: italic;
    font-size:64px;
    background-color: rgb(251, 255, 0);
	border-radius:6px;
    border:1px solid #057fd0;
    padding:11px 76px;
}